.nav-home {
  color: var(--unnamed-color-06103d);
  text-align: center;
  font: normal normal medium 16px/21px Red Hat Display;
  letter-spacing: 0px;
  color: #06103d;
  opacity: 1;
  border-style: outset;
}
.background-image {
  background-image: url('../../assets/NotAwardediconbig.svg');
  background-size: cover; /* Adjust the sizing of the background image */
  background-repeat: no-repeat; /* Prevent image repetition */
  width: 30%; /* Set width to fill the element */
  height: 300px; /* Set height to control the height of the element */
}
.background-image2 {
  background-image: url('../../assets/Awardediconbig.svg');
  background-size: cover; /* Adjust the sizing of the background image */
  background-repeat: no-repeat; /* Prevent image repetition */
  width: 30%; /* Set width to fill the element */
  height: 300px; /* Set height to control the height of the element */
}
.myBidsCard {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  font-family: "Red Hat Text";
  font-size: 13pt;
  font-weight: 400;
  opacity: 1;
  background : padding-box;
  background-color: #FFFFFF;
  padding : 16px;
}


.card-body{
 background-color: #FFFFFF;
 width: 100%;
}

.text-yellow {
 
  text-align: left;
  font-family: "Red Hat Text";
  letter-spacing: 0px;
  color: #F59B40;
  background-color: #FFE8B9;
  opacity: 1;
}
.text-blue{
  
  text-align: left;
  font-family: "Red Hat Text";
  letter-spacing: 0px;
  color: #0F2658;
  background-color: #D2D5D7;
  opacity: 1;
}
.text-green {
  
  font-family: "Red Hat Text";
  background-color: #2CBE7C;
  color: black;
  font-weight: 400;
  

}

.flex-container {
  display: flex;
  flex-direction: column;
}
.label{
  color: #59666E;
  opacity: 1;
  letter-spacing: 1;
  text-align: left;
  font-family: "Red Hat Text";
  font-weight: 400;
  font-size: 14px;
  
}
.innerLabel{
  color: #59666E;
  
}
.round-state {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  text-align: left;
}

.bid-rounds {
  font-size: 18pt;
  color: white;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.card-header {
  background-color: white;
  opacity: 1;
  border-radius: 2px;
  border-color: black;
}
.currentBid_card-header
{
  background-color: #EBECED;
  border-radius: 12px 12px 0px 0px;
  opacity: 1;
}
.card-body.hidden {
  display: none;
}
.switchbtn{
  margin-top: 18px;
  margin-bottom: 16px;
  background: #28315B 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}
.swtichbtntoggle{
  width: 50%;
  color:aliceblue
}
h4{
  font-family: "Red Hat Text";
  opacity: 1;
  font-size: 20px;
  font-weight: 400px;
  color:#181C1E
}