#myHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 12px solid rgb(0, 0, 0);
  border-radius: 12px;
  font-family: "RedHatText";
  font-size: 13pt;
  color: black;
  border-left-color: #f59b40;
  padding:12px
}


#top10AvailableBlocks {
  border-left: 12px solid rgb(0, 0, 0);
  font-family: "RedHatText";
  font-size: 13pt;
  border-left-color: #2cbe7c;
}
#top10CurrentBlocks {
  border-left: 12px solid rgb(0, 0, 0);
  font-family: "RedHatText";
  font-size: 13pt;
  border-left-color: #f59b40;
}
.bold-text {
  font-weight: bold;
}

.card-text {
  text-align: left;
  font-size: medium;
  font-family:  "Red Hat Text";
  letter-spacing: 0px;
  color: #181c1e;
  opacity: 1;
}

.card-header {
  background-color: white;
  border-color: black;
}

.text-yellow {
  text-align: left;
  padding: 0px 10px 0px 10px;
  /* top,right,bottom,left */
  font: "RedHatText";
  letter-spacing: 0px;
  color: #f59b40;
  background-color: #ffe8b9;
  opacity: 1;
}

.text-green {
  color: black;
  background-color: green;
}

.block-slider {
  display: flex;
  overflow-x: auto;
}
.block-slider::-webkit-scrollbar {
  display: none;
}

.label {
  text-align: left;
  font-size: medium;
  font-family: "Red Hat Text";
  letter-spacing: 0px;
  color: #59666e;
  opacity: 1;
}
.card-body.hidden {
  display: none;
}

.Top_10_Available_blocks {
  padding-left: 20%;
}
.Top_10_In-demand_blocks {
  padding-left: 15%;
}
@media (min-width: 768px) {
  /* This media query targets screens with a width of 768px or more, typically tablets and laptops */
  .Top_10_Available_blocks {
    padding-left: 70%;
  }

  .Top_10_In-demand_blocks {
    padding-left: 69%;
  }
}
