.myPCard {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  padding: 16px;
  background-color: #FFFFFF;
  
}
h4{
  font-family: "Red Hat Text";
  font-size: 20px;
  font-weight: 400 ;
  
}
hr {
  border: 1px solid #d2d5d7;
  opacity: 1;
}

.border2 {
  /* padding : 0px 1em 0px 1em; */
  margin: 10px 20px 10px 6px;
}

.bold-text {
  font-weight: bold;
}


label{
  color: #59666e;
  font-weight: 500;
  font-family: "Red Hat Text";
  font-size: 14px;
}
.label {
  color: #59666e;
  font-weight: 500;
  font-family: "Red Hat Text";
  font-size: 14px;
  padding-top: 14px;
}
.bold-text {
  font-weight: bold;
}

.seniority-rank {
  background: #c7eff6 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font-size: 14px;
  color: #124851;
  font-weight: bold;
  padding: 2px 8px 0px 8px;
}

.card-header {
  background-color: white;
  border: hidden;
  font-family:  "Red Hat Display";
}

.card-body.hidden {
  display: none;
}
.card-text {
  font-size: 16px;
  font-family: "Red Hat Text";
  color: #181C1E;
  font-weight: 500;
  opacity: 1;
  text-align: left;
  letter-spacing: 0px;
}
