<!-- Current bid info -->



<div class="card">
  <div class="card-header" >
    <div>
      <p class="card-text bold-text">Current Bid fak</p>
    </div>
  </div>
  
  <div class="border2">
  <hr >
</div>

  <div class="card-body" [class.hidden]="expandBidPeriodCard">
    <div class="round-state">
      <div>
        <label class="label"> Bid-name </label>
        <p class="card-text bold-text">{{ currentBidInfo.bidName }}</p>
      </div>

      <div>
        <label class="label"> Bid-Period </label>
        <p class="card-text bold-text">{{ currentBidInfo.bidPeriod }}</p>
      </div>

      <div>
        <label class="label"> Bid-State: </label>
        <p>
          <span
            [ngClass]="{
              'text-yellow': currentBidInfo.bidStatus == 'In-progress',
              'text-green': currentBidInfo.bidStatus === 'Published'
            }"
            >{{ currentBidInfo.bidStatus }}</span
          >
        </p>
        
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header" (click)="expandRounds = !expandRounds">
    <div>
      <p class="card-text bold-text">Current Round Status</p>
    </div>
  </div>
  <div class="border2">
    <hr >
  </div>
  <div class="card-body" >
    <div class="round-state">
      <div>
        <label class="label"> Round Name : </label>
        <p class="card-text bold-text">{{ currentRoundStatus.roundName }}</p>
      </div>
      <div>
        <label class="label"> Round Status : </label>
        <p>
          <span
            class="card-text bold-text"
            [ngClass]="{
              'text-yellow': currentRoundStatus.roundStatus == 'Bidding Open',
              'text-red': currentRoundStatus.roundStatus === 'Bidding Closed'
            }"
          >
            {{ currentRoundStatus.roundStatus }}
          </span>
        </p>
      </div>
      <div>
        <label class="label"> Remaning Bidding Time : </label>
        <p>
          <span class="card-text bold-text text-green"
            >{{ currentRoundStatus.remaningBiddingTime }}
          </span>
        </p>
      </div>
    </div>
    <br />
  </div>
</div>

<div class="card">
  <div class="card-header" (click)="expandRounds = !expandRounds">
    <div>
      <p class="card-text bold-text">Bid Rounds</p>
    </div>
  </div>
  <div class="border2">
    <hr >
  </div>
  <div class="card-header" [class.hidden]="!expandRounds">
    <div class="round-state">
      <div>
        <label class="label">Round Name</label>
        <p class="card-text bold-text">Round 2</p>
      </div>

      <div>
        <label class="label">Awarded Blocks</label>
        <p class="card-text bold-text">2</p>
      </div>

      <div>
        <label class="label">Round Status</label>
        <p><span class="bold-text text-green">Published</span></p>
      </div>
    </div>
  </div>

  <div class="card-header">
    <div class="round-state">

      <div>
        <label class="label">Round Name</label>
        <p><span class="bold-text">Round 2</span></p>
      </div>

        <div class="flex">
      
        <label class="label">Bidding Open :</label>
        <!-- <p><span class="bold-text">10/20/2024 09:00</span></p> -->
        
     
        <label class="label">Bidding Close : </label>
        <!-- <p><span class="bold-text">10/26/2024 23:59</span></p> -->

      </div>
        <div class="flex">
      
        <!-- <label class="label">Bidding Open</label> -->
        <p><span class="bold-text">10/20/2024 09:00</span></p>
        
     
        <!-- <label class="label">Bidding Close</label> -->
        <p><span class="bold-text">10/26/2024 23:59</span></p>

      </div>
      <div>
        <label class="label">Publish By :</label>
        <p><span class="bold-text">10/07/2024</span></p>
      </div>

      <div>
        <label class="label">Round Status</label>
        <p><span class="text-yellow bold-text">Bidding Open</span></p>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div>
      <label class="label">Round Name</label>
      <p><span class="card-text bold-text">Random</span></p>
    </div>
    <div>
      <label class="label">Publish By</label>
      <p><span class=" bold-text">10/27/2024</span></p>
    </div>
    <div>
      <label class="label">Round Status</label>
      <p><span class="text-blue bold-text">Not Started</span></p>
    </div>
  </div>
</div>
