.card {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}



.text-yellow {
  color: var(--unnamed-color-f59b40);
  text-align: left;
  padding: 0px 10px 0px 10px; 
  font: normal normal medium 14px/20px Red Hat Text;
  letter-spacing: 0px;
  color: #f59b40;
  background-color: #ffe8b9;
  opacity: 1;
}
.text-blue {
  text-align: left;
  font: normal normal medium 14px/20px Red Hat Text;
  letter-spacing: 0px;
  color: #0f2658;
  background-color: #d2d5d7;
  opacity: 1;
}
.text-green {
  color: #181c1e;
  background-color: #2cbe7c;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
label {
text-align: left;
font: normal normal medium 14px/24px Red Hat Text;
letter-spacing: 0px;
color: #59666E;
opacity: 1;
}
.round-state {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  text-align: left;
}

.bid-rounds {
  font-size: 18pt;
  color: white;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.card-header {
  background-color: white;
  border-radius: 25px;
  border : hidden;
  padding: 16px 0px 0px 16px;
  
}
.card-text {
  font-size: 20px;
}

hr{
  border: 1px solid #D2D5D7;
  opacity: 1;
 
}

.border2{
  /* padding : 0px 1em 0px 1em; */
  margin : 10px 20px 10px 6px;  
}
.card-body{
 margin-bottom: 30px;
}
.card-body.hidden {
  display: none;
}

