<!-- Current bid info -->

<div class="card">
  <div style="border:10px" class="card-header">
    <div >
      <h4 class="card-text bold-text">Current Bid Info</h4>
    </div>
    <hr class="border2" />
    <div >
      <div>
        <label > Bid Name </label>
        <p class="card-body-text bold-text">{{ currentBidInfo.bidName }}</p>
      </div>

      <div>
        <label> Bid Period </label>
        <p class="card-body-text bold-text">{{ currentBidInfo.bidPeriod }}</p>
      </div>

      <div>
        <label class="label"> Bid-Status</label>
        <p>
          <span
            [ngClass]="{
              'text-yellow  bold-text': currentBidInfo.bidStatus == 'In-progress',
              'text-green bold-text ': currentBidInfo.bidStatus === 'Published'
            }"
            >{{ currentBidInfo.bidStatus }}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" (click)="expandRounds = !expandRounds">
    <div>
      <h4 class="card-text bold-text">Current Round Status</h4>
    </div>
    <hr class="border2" />
    <div >
      <div>
        <label class="label"> Round Name </label>
        <p class="card-body-text bold-text">{{ currentRoundStatus.roundName }}</p>
      </div>
      <div>
        <label class="label"> Round Status  </label>
        <p>
          <span
            [ngClass]="{
              'bold-text text-yellow': currentRoundStatus.roundStatus == 'Bidding Open',
              'bold-text text-red': currentRoundStatus.roundStatus === 'Bidding Closed'
            }"
          >
            {{ currentRoundStatus.roundStatus }}
          </span>
        </p>
      </div>
      <div>
        <label class="label"> Remaning Bidding Time  </label>
        <p>
          <span class="bold-text text-green"
            >{{ currentRoundStatus.remaningBiddingTime }}
          </span>
        </p>
      </div>
    </div>
    <br />
  </div>
</div>

<div class="card">
  <div class="card-header" (click)="expandRounds = !expandRounds">
    <div>
      <h4 class="card-text bold-text">Bid Rounds</h4>
    </div>

    <hr class="border2" >

    <div >
      <div>
        <label class="label">Round Name</label>
        <p class="card-body-text bold-text">Round 1</p>
      </div>

      <div>
        <label class="label">Awarded Blocks</label>
        <p class="card-body-text bold-text">2</p>
      </div>

      <div>
        <label class="label">Round Status</label>
        <p><span class="bold-text text-green">Published</span></p>
      </div>
      <hr class="card-text border2" >
    </div>
  
  <div>
    
      <div>
        <label class="label">Round Name</label>
        <p><span class="card-body-text bold-text">Round 2</span></p>
      </div>

      
     
      <div class="round-state" style="padding-right: 15px">
        <label class="label round-state">Bidding Open :</label>
        <!-- <p><span class="bold-text">10/20/2024 09:00</span></p> -->

        <label class="label round-state">Bidding Close : </label>
        <!-- <p><span class="bold-text">10/26/2024 23:59</span></p> -->
      
      
    </div>
   
      <div class="round-state" style="padding-right: 15px">
        <!-- <label class="label">Bidding Open</label> -->
        <p><span class="card-body-text bold-text">Oct-20-2024 09:00</span></p>

        <!-- <label class="label">Bidding Close</label> -->
        <p><span class="card-body-text bold-text">Oct-26-2024 23:59</span></p>
      </div>
     
      <div>
        <label class="label">Publish By </label>
        <p><span class="card-body-text bold-text">Oct-07-2024</span></p>
      </div>

      <div>
        <label class="label">Round Status</label>
        <p><span class="text-yellow bold-text">Bidding Open</span></p>
      </div>
   
 

  <div>
    <hr class="border2">
    <label class="label">Round Name</label>
    <p><span class="card-body-text bold-text">Random</span></p>
  </div>
  <div>
    <label class="label">Publish By</label>
    <p><span class="card-body-text bold-text">Oct-27-2024</span></p>
  </div>
  <div>
    <label class="label">Round Status</label>
    <p><span class="text-blue bold-text">Not Started</span></p>
  </div>
</div>
