.card {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.text-yellow {
  text-align: left;
  padding: 0px 10px 0px 10px;
  font: normal normal medium 14px/20px Red Hat Text;
  letter-spacing: 0px;
  color: #f59b40;
  background-color: #ffe8b9;
  opacity: 1;
}
.text-blue {
  text-align: left;
  padding: 0px 10px 0px 10px;
  font: normal normal medium 14px/20px Red Hat Text;
  letter-spacing: 0px;
  color: #0f2658;
  background-color: #d2d5d7;
  opacity: 1;
}
.text-green {
  text-align: left;
  padding: 0px 10px 0px 10px;
  font: normal normal medium 14px/20px Red Hat Text;
  letter-spacing: 0px;
  color: #10452d;
  background-color: #2cbe7c;
  opacity: 1;
}

label {
  text-align: left;
  font-family:  "Red Hat Text";
  font-size: medium;
  letter-spacing: 0px;
  color: #59666e;
  opacity: 1;
}
.card-body-text{
  text-align: left;
  font-family: "Red Hat Text";
  font-size: medium;
  letter-spacing: 0px;
  color: #181C1E;
  opacity: 1;
}
.bid-rounds {
  font-size: 18pt;
  color: white;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.card-header {
  background-color: white;
  border-radius: 25px;
  border: hidden;
  padding: 16px 0px 0px 16px;
}
.card-text {
  font-size: 20px;
}

hr {
  border: 1px solid #d2d5d7;
  opacity: 1;
}

.border2 {
  /* padding : 0px 1em 0px 1em; */
  margin: 10px 20px 10px 6px;
}
.card-body {
  margin-bottom: 30px;
}
.card-body.hidden {
  display: none;
}
.round-state {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  text-align: left;
}
