<div class="container-fluid">
  
  <nav class="bg-white bold-text row nav-home align-items-center pageTitle"><span>Home</span></nav>
  <nav class="bg-white row nav-home custom-nav">
    <span class="navbar-text bold-text col" [routerLinkActive]="['active']" [ngClass]="{'clicked': isActive('/')}"  routerLink="/"> {{"Bid Info"}} </span>

    <span class="navbar-text bold-text col"  [routerLinkActive]="['active']" [ngClass]="{'clicked ': isActive('/bidding-status')}" routerLink="bidding-status"> {{"Bidding Status"}} </span>
   
    <span class="navbar-text  bold-text col" [routerLinkActive]="['active']" [ngClass]="{'clicked ': isActive('/my-profile')}"  routerLink="my-profile"> {{"My Profile"}} </span>

    <span class="navbar-text bold-text col" [routerLinkActive]="['active']" [ngClass]="{'clicked': isActive('/my-bids')}" routerLink="my-bids"> {{"My Bids"}} </span>
    
    <span class="navbar-text  bold-text col" [routerLinkActive]="['active']" [ngClass]="{'clicked': isActive('/app-joint-bids')}" routerLink="app-joint-bids">{{"Joint Bids"}}</span>
  </nav>
 
 <!-- <app-mybids></app-mybids> -->
<!-- <app-bidding-status></app-bidding-status> -->
<!-- <app-my-profile></app-my-profile> -->
<router-outlet></router-outlet>
</div>