.nav-home {
  color: var(--unnamed-color-06103d);
  text-align: center;
  font: normal normal medium 16px/21px Red Hat Display;
  letter-spacing: 0px;
  color: #06103d;
  opacity: 1;
  border-style: outset;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  color: black;
}

.text-yellow {
  color: var(--unnamed-color-f59b40);
  text-align: left;
  font: normal normal medium 14px/20px Red Hat Text;
  letter-spacing: 0px;
  color: #F59B40;
  background-color: #FFE8B9;
  opacity: 1;
}

.text-green {
  color: #181C1E;
  background-color: #2CBE7C;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
.label{
  color: #59666E;
  margin-top: 10px;
}

.custom-nav .navbar-text {
  cursor: pointer;
  transition: border-bottom-color 0.3s, color 0.3s;
}

.custom-nav .navbar-text.clicked {
  color: blue;
  border-bottom: 2px solid blue;
}
.round-state {

  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  text-align: left;
}

.bid-rounds {
  font-size: 18pt;
  color: white;
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.card-header {
  background-color: white;
  border-color: black;
}



.container {
  background-color: #061020;
  width: 100%;

  /* For laptop screen */
  @media (min-width: 1500px) {
    width: 100%;
  }
}
.custom-nav
{
  flex: 1;
  justify-content: space-between;
}
.card-body.hidden {
  display: none;
}
