<div class="container">
  <nav class="navbar bg-white  row nav-home"><p>HOME</p></nav>

  <nav class="navbar  bg-white row nav-home">
    <span class="navbar-text text-dark bold-text col-2" routerLink="/"> {{"Bid Info" | uppercase}} </span>

    <span class="navbar-text text-dark bold-text col-2" routerLink="bidding-status"> {{"Bidding Status" | uppercase}} </span>
   
    <span class="navbar-text text-dark bold-text col-2" routerLink="my-profile"> {{"MY Profile" | uppercase}} </span>

    <span class="navbar-text text-dark bold-text col-2" routerLink="my-bids"> {{"My Bids" | uppercase}} </span>
    
    <span class="navbar-text text-dark bold-text col-2" routerLink="app-joint-bids">{{"Joint Bids" | uppercase}}</span>
  </nav>
 <!-- <app-mybids></app-mybids> -->
<!-- <app-bidding-status></app-bidding-status> -->
<!-- <app-my-profile></app-my-profile> -->
<router-outlet></router-outlet>