<div class="container-fluid">
  <nav class="navbar bg-white row nav-home align-items-center"><span>HOME</span></nav>

  <nav class="navbar  bg-white row nav-home custom-nav">
    <span class="navbar-text  col" [routerLinkActive]="['active']" [ngClass]="{'clicked': isActive('/')}"  routerLink="/"> {{"Bid Info" | uppercase}} </span>

    <span class="navbar-text bold-text col"  [routerLinkActive]="['active']" [ngClass]="{'clicked ': isActive('/bidding-status')}" routerLink="bidding-status"> {{"Bidding Status" | uppercase}} </span>
   
    <span class="navbar-text  bold-text col" [routerLinkActive]="['active']" [ngClass]="{'clicked ': isActive('/my-profile')}"  routerLink="my-profile"> {{"MY Profile" | uppercase}} </span>

    <span class="navbar-text bold-text col" [routerLinkActive]="['active']" [ngClass]="{'clicked': isActive('/my-bids')}" routerLink="my-bids"> {{"My Bids" | uppercase}} </span>
    
    <span class="navbar-text  bold-text col" [routerLinkActive]="['active']" [ngClass]="{'clicked': isActive('/app-joint-bids')}" routerLink="app-joint-bids">{{"Joint Bids" | uppercase}}</span>
  </nav>
 
 <!-- <app-mybids></app-mybids> -->
<!-- <app-bidding-status></app-bidding-status> -->
<!-- <app-my-profile></app-my-profile> -->
<router-outlet></router-outlet>
</div>